.container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid dimgray; */
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.meatButtons {
  border: 3px #de903a solid;
  width: 6rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #204f80;
}
