.navContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 1rem;
}

.navLink {
  border: 1px gray solid;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
  font-weight: bold;
}

.navLink:hover {
  border: 1px #204f80 solid;
  background-color: #204f80;
  color: lightgray;
}

.activeNav {
  border: 1px #de903a solid;
  background-color: #de903a;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
  font-weight: bold;
}
